* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 750px;
    background: url(img/background.jpg) center no-repeat;
    background-size: cover;
}
header nav {
    height: 100px;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #505369;
}
header nav .nav-block {
    display: flex;
    gap: 55px;
}
header nav .nav-block a {
    color: #cbccd3;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s linear;
}
header nav .nav-block a:hover {
    color: white;
}

header .header-block {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    width: 950px;
    text-align: center;
    color: white;
}
header .header-text .text1 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 65px;
}
header .header-text .text2 {
    font-size: 22px;
}
header .header-block .header-text button {
    width: 200px;
    height: 45px;
    background-color: #e84545;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    font-size: 13px;
    transition: .2s linear;
}
header .header-block .header-text button:hover {
    cursor: pointer;
    background-color: #e01b1b;
}

main .features {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 690px;
}
main .features-items {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    column-gap: 90px;
    row-gap: 75px;
    width: 1080px;
}
main .features .features-items .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 190px;
    width: 300px;
}
main .features .features-items .item h1 {
    font-size: 14px;
    text-transform: uppercase;
    padding: 25px 0;
}
main .features .features-items .item p {
    font-size: 14px;
}

main .works {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 700px;
}
main .works .work {
    width: 25%;
}
main .works img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: 1px solid white;
    border-collapse: collapse;
}